.main {
	background-image: url('../img/pattern.jpg');
	font: normal 22px/1 "Helvetica Neue", sans-serif;
}

.monitor {
	height: 70vh;
	display:flex;
	position: relative;
}

.sun {
	width: 300px;
	height: 300px;
	margin: auto;
	background-image: url('../img/sun.png');
	background-position: center;
	background-size: cover;
}
.earth {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	background-image: url(../img/earth.png);
	background-size: 50px;
	background-position: top right;
	background-repeat: no-repeat;
	transition: .5s;
	cursor: pointer;

}
.controls {
	height: 200px;
	background-color: rgba(0, 120, 180, 0.5);
	justify-content: space-around;
	align-items: center;
	height: 30vh;
	display: flex;
}

.circle,
.rightArrow,
.leftArrow,
.home {
	width: 100px;
	height: 100px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.circle {
	background-image: url('../img/circlecircle.png');
}
.rightArrow {
	background-image: url('../img/rotate_right_arrow.png');
}

.leftArrow {
	background-image: url('../img/rotate_left_arrow.png');
}
.home {
	background-image: url('../img/home_icon.png');
}
.winmodal {
	display: none;
	transition: 10s;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(52, 59, 62, .8);

}
.modal {
	width: 500px;
	height: 500px;
	background-color: white;
	margin: 50px auto;
}
.crossbutton {
	position: relative;
	top: 0px;
	right: 10px;
	text-align: right;
	
}
.close {
	cursor: pointer;

}