@keyframes rotatingEarth {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotatingEarthReverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.page {
	background-image: url('../img/pattern.jpg');
}

.monitor {
	height: 70vh;
	display: flex;
	position: relative;


	
}
.sun {
	width: 300px;
	height: 300px;
	margin: auto;
	background-image: url('../img/sun.png');
	background-position: center;
	background-size: cover;
}
.earth {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	background-image: url('../img/earth.png');
	background-size: 50px;
	background-position: top right;
	background-repeat: no-repeat;
	transition: .5s;
    
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-direction: normal;
}

.earth-animation {
    animation-name: rotatingEarth;
}
.earth-animation-reverse {
    animation-name: rotatingEarthReverse;
}
.controls {
	height: 200px;
	background-color: rgba(0, 150, 150, 0.5);
	justify-content: space-around;
	align-items: center;
	height: 30vh;
	display: flex;
}

.circle,
.pause,
.leftArrow,
.rightArrow,
.home {
	width:100px;
	height: 100px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.circle {
	background-image: url('../img/circlecircle.png');
}


.leftArrow {
	background-image: url('../img/rotate_left_arrow.png');
}

.home {
	background-image: url('../img/home_icon.png');
}
.pause {
    background-image: url('../img/pause.png');
}
.rightArrow {
    background-image: url('../img/rotate_right_arrow.png');
}



/* The Modal (background) */
.winmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */

}
.modal {

    width: 600px;
    height: 400px;
    background: rgba(256, 256, 256, .8);
    padding: 5px;
    box-shadow: 0 0 10px #444;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    border: 2px solid #D1D1D1;
    border-radius: 6px;
}
/* Add Animation */
.modal {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


.crossbutton {
	position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family: sans-serif;
}
.crossbutton:hover,
.crossbutton:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.win_visible {
	display: block;
}



